/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
i,
em {
  font-style: italic;
}
b {
  font-weight: 400;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 960px;
}
.row {
  background: #fff;
}
.row2 {
  margin: 0;
  background: -webkit-linear-gradient(to bottom, #000, #fff);
  background: -moz-linear-gradient(to bottom, #000, #fff);
  background: linear-gradient(to bottom, #000, #fff);
}
.row3 {
  background: #fff;
}
.row4 {
  background: darkgoldenrod;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row4 p {
  color: #fff;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
========================================
  Typography
========================================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: px;
}
h1 {
  font-size: 36px;
  color: slategray;
  line-height: 44px;
  padding-top: 20px;
  padding-bottom: 10px;
}
h2 {
  font-size: 28px;
  color: cyan;
  padding-top: 20px;
  padding-bottom: 10px;
}
h3 {
  font-size: 24px;
  color: #fff;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
h4 {
  font-size: 21px;
  color: #fff;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 20px;
  color: #000;
  font-weight: 200;
  padding-left: 10px;
  padding-bottom: 10px;
}
/*
==========================
  Container
==========================
*/
.container {
  margin: 0 auto;
  width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
}
/*
===================
  Primary-Header
===================
*/
.primary-header {
  text-align: left;
  padding-left: 44px;
}
.primary-header button {
  background: darkgoldenrod;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  float: right;
  margin: 10px;
}
.primary-header button:hover {
  background: cyan;
}
.primary-header input {
  font-size: 18px;
}
/*
============================
  Primary-Footer
============================
*/
.primary-footer {
  text-align: left;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 2px;
  min-width: 960px;
}
.primary-footer small {
  color: darkgoldenrod;
  font-size: 20px;
  font-weight: 400;
}
.primary-footer button {
  background: beige;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 24px;
  color: darkslategrey;
}
.primary-footer input {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
  border: 1px solid cadetblue;
  font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.primary-footer h3 {
  color: #fff;
}
.song h3:hover {
  color: darkgoldenrod;
}
.primary-footer p {
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  color: darkgoldenrod;
}
/* 
================
  Link
================
 */
a {
  color: darkgoldenrod;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.5px;
}
a:hover {
  color: cyan;
}
/* 
====================
Button
====================
*/
input {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  width: 80%;
  border: 1px solid cadetblue;
  font: 24px/1.2 "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
button {
  background: beige;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 24px;
  margin: 2px;
  color: darkslategrey;
  border-color: 1px solid darkslategray;
}
/*
===================================
  Navigation
===================================
*/
.nav {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: center;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 30px 30px;
}
/* 
========================== 
  Signup
===========================
*/
.signup input {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  border: 1px solid cadetblue;
  font: 21px/1.4 "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.signup button {
  margin-left: 40%;
  margin-top: 10px;
  background: darkgoldenrod;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
/*
=====================
  Media
=====================
*/
.media {
  background-color: #fff;
  padding-left: 20px;
  margin-bottom: 20px;
}
.song h3 {
  color: slategrey;
  margin: 5px;
}
.song button {
  font-size: 36px;
  width: 80%;
  margin: 20px;
  background-color: red;
  color: #fff;
  border-color: red;
}
.song img {
  border-radius: 10px;
  border-color: chocolate;
  border-width: 20px;
}
